.header-container {
  display: flex;
  margin: 10px;
  padding: 10px;
  height: 80px;
  /* width: 1200px; */
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header-logo {
  font-weight: bold;
  text-transform: lowercase;
  font-style: italic;
  font-weight: bolder;
  flex: 0 0 auto;
}
.header-logo .header-logo-heading {
  font-weight: bold;
  text-transform: lowercase;
  font-style: italic;
  font-weight: bolder;
  flex: 0 0 auto;
  font-size: 40px;
}

.header-fields {
  flex: 0 0 600px;
}
.header-form {
  display: flex;
  /* gap: 1px; */
}
.header-fields .header-form .form-address {
  height: 50px;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  /* border-right: 1px solid black; */
  border: 1px solid #ddd;
  border-right: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 2, 0.2);
  border-radius: 5px;
}

.header-fields .header-form .form-address:focus {
  outline: none;
}

.header-fields .header-form .form-search {
  height: 50px;
  width: 50%;
  padding: 20px;
  border: 1px solid #ddd;
  border-left: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 2, 0.2);
  border-radius: 5px;
}

.header-fields .header-form .form-search:focus {
  outline: none;
}

.header-fields .header-form .border-separation {
  justify-items: center;
  align-content: center;
  height: 25px;
  border: 1px solid rgb(202, 197, 197);
  margin-top: 12.5px;
}
.header-user-profile {
  flex: 0 0 auto;
  justify-content: flex-end;
}
